/* Fonts */
@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
    url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-display: swap;
}

/* Variables */

:root {
  /* Text */
  --text-color-main: #000000;
  --text-color-buttons: #FFFFFF;
  --background-color-header: #EEEEEE;
  --text-color-hover: #FB565A;
  --text-color-addition: #283136;
  --text-color-address: #666666;
  --text-color-promo: #444444;
  /* Buttons */
  --background-button-quiet: #FB565A;
  --background-button-hover: #E74246;
  --background-button-active: #D7373B;
  --background-appbutton-quiet: #00CA74;
  --background-appbutton-hover: #00BC6C;
  --background-appbutton-active: #00AA62;
  --background-presentation-quiet: #EFC849;
  --background-presentation-hover: #EAB534;
  --background-presentation-active: #E5A722;
  --background-icon-color: #E1E1E1;
  /* Modal */
  --border-color: #D7DCDE;
  --border-color-hover: #B4B9BB;
  /* Pagination */
  --background-pagination-hover: #DFDFDF;
  --background-pagination-active: #D5D5D5;
  --background-pagination-border: #DBDBDB;

}

/* Global */

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-color-main);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* Main navigation */

.main-navigation {
  background-color: var(--background-color-header);
}

.main-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.main-navigation a {
  display: grid;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-color-main);
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
}

.main-navigation a,
.user-navigation a {
  color: var(--text-color-main);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--text-color-hover);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--text-color-main);
  opacity: 0.3;
}

.main-header-logo:hover {
  opacity: 0.7;
}

.main-header-logo:active {
  opacity: 0.3;
}

/* Slider */

.slider {
  background-color: var(--background-color-header);
}

.slider-header {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--text-color-main);
}

.button {
  background-color: var(--background-button-quiet);
  color: var(--text-color-buttons);
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: var(--background-button-hover);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button:active {
  background-color: var(--background-button-active);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button:active span {
  opacity: 0.3;
}

.slider-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-addition);
}



/* Services */

.services {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-addition);
}

.services-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-list {
  list-style: none;
}

.services-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-addition);
}

.button-apps {
  background-color: var(--background-appbutton-quiet);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button-apps:hover {
  background-color: var(--background-appbutton-hover);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button-apps:active {
  background-color: var(--background-appbutton-active);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button-presentation {
  background-color: var(--background-presentation-quiet);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button-presentation:hover {
  background-color: var(--background-presentation-hover);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button-presentation:active {
  background-color: var(--background-presentation-active);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

/* Information */

.info-header {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--text-color-main);
}

.info-oders {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.info-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* всё выше наследуется */
  color: var(--text-color-addition);
}

.info-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-addition);
}

.info-list {
  list-style: none;
}

/* Satistics */

.statistics-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-main);

  /* выше наследуется */
  text-transform: uppercase;
}

.statistics-term {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color-addition);
}

.statistics-scale {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--text-color-main);
}

/* Clients */

.clients-list {
  list-style: none;
}

.clients-logo {
  opacity: 0.2;
}

.clients-logo:active {
  opacity: 0.1;
}

.clients-logo:hover {
  opacity: 1;
}

/* Main Footer */

/* Contacts */

.contacts-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-address {
  line-height: 18px;
  color: var(--text-color-address);
}

.footer-phone {
  line-height: 18px;
  color: var(--text-color-address);
}

/* Social */

.social-list {
  list-style: none;
}

.social-button {
  background-color: var(--background-icon-color);
}

.social-button:hover {
  background-color: var(--background-button-hover);
}

.social-button:active {
  background-color: var(--background-button-active);
}

.social-slogan {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.social-promo {
  line-height: 22px;
  color: var(--text-color-promo);
}

/* Modal */

.modal-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.login-login {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.connect-form input[type="text"],
.connect-form input[type="email"] {
  line-height: 18px;
  opacity: 0.5;
  color: var(--text-color-promo);
  border: 2px solid var(--border-color);
  border-radius: 3px;
}

.connect-form input[type="text"]:hover,
.connect-form input[type="email"]:hover {
  line-height: 18px;
  opacity: 0.5;
  color: var(--text-color-promo);
  border: 2px solid var(--border-color-hover);
  border-radius: 3px;
}

.connect-form input[type="text"]:focus,
.connect-form input[type="email"]:focus {
  line-height: 18px;
  color: var(--text-color-promo);
  border: 2px solid var(--text-color-main);
  border-radius: 3px;
  opacity: 1;
}

.connect-form input[type="text"]:invalid,
.connect-form input[type="email"]:invalid {
  line-height: 18px;
  color: var(--background-button-hover);
  border: 2px solid var(--background-button-hover);
  border-radius: 3px;
}

textarea {
  line-height: 18px;
  opacity: 0.5;
  color: var(--text-color-promo);
  border: 2px solid var(--border-color);
  border-radius: 3px;
}

textarea:hover {
  line-height: 18px;
  opacity: 0.5;
  color: var(--text-color-promo);
  border: 2px solid var(--border-color-hover);
  border-radius: 3px;
}

textarea:focus {
  line-height: 18px;
  color: var(--text-color-promo);
  border: 2px solid var(--text-color-main);
  border-radius: 3px;
  opacity: 1;
}

textarea:invalid {
  line-height: 18px;
  color: var(--background-button-hover);
  border: 2px solid var(--background-button-hover);
  border-radius: 3px;
}

/* Catalog */

.catalog {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--background-color-header);
}

.legend-shop {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-input-shop {
  color: var(--text-color-addition);
  opacity: 0.4;
}

.filter-input-shop:hover {
  color: var(--text-color-addition);
  opacity: 1;
}

.filter-input-shop:disabled {
  color: var(--text-color-addition);
  opacity: 0.1;
}

.filter-input:disabled+label,
.filter-input:checked:disabled+label,
.filter-input:disabled:hover+label,
.filter-input:disabled:focus+label {
  color: var(--text-color-addition);
  opacity: 0.3;
}

.button-show {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-color-main);
  background-color: var(--background-color-header);
  border-radius: 3px;
  border: none;
}

.button-show:hover {
  background-color: var(--background-pagination-hover);
}

.button-show:active {
  background-color: var(--background-pagination-active);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  opacity: 0.3;
}

.price-cost {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--text-color-addition);
}

.filter-list {
  list-style: none;
}

.filter-option {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-color-main);
  opacity: 0.3;
}

.filter-option:hover {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-color-main);
  opacity: 0.6;
}

.filter-option:active,
.current-sort {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--text-color-main);
  opacity: 1;
}

/* Goods */

.goods-list {
  list-style: none;
}

.goods-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.goods-item:hover {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-color-hover);
}

.goods-item:active {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--text-color-main);
  opacity: 0.3;
}

.goods-description {
  line-height: 18px;
  color: var(--text-color-address);
}

/* Pagination */

.pagination-list {
  list-style: none;
}


.pagination-page {
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--background-color-header);
  color: inherit;
}

.pagination-page:hover {
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--background-pagination-hover);
  color: inherit;
}

.pagination-page:active {
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: var(--background-pagination-active);
  color: inherit;
}

.pagination-current {
  border: 3px solid var(--background-pagination-border);
}