/* Fonts */
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-style: normal;
    src: local("Roboto"),
         url("../fonts/roboto.woff2") format("woff2"),
         url("../fonts/roboto.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-style: normal;
    src: local("Roboto"),
         url("../fonts/robotomedium.woff2") format("woff2"),
         url("../fonts/robotomedium.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-style: normal;
    src: local("Roboto"),
         url("../fonts/robotobold.woff2") format("woff2"),
         url("../fonts/robotobold.woff") format("woff");
    font-display: swap;
  }

  /* Variables */

:root {
    /* Text */
    --text-color-main: #000000;
    --text-color-buttons: #FFFFFF;
    --background-color-header: #EEEEEE;
    --text-color-hover: #FB565A;
    --text-color-addition:#283136;
    --text-color-address: #666666;
    /* Buttons */
    --background-button-quiet: #FB565A;
    --background-button-hover: #E74246;
    --background-button-active: #D7373B;
    --background-appbutton-quiet:#00CA74;
    --background-appbutton-hover: #00BC6C;
    --background-appbutton-active: #00AA62;
    --background-presentation-quiet:#EFC849;
    --background-presentation-hover: #EAB534;
    --background-presentation-active: #E5A722;
    --background-icon-color: #E1E1E1;

    /* --: 
    --: #DFDFDF;
    --: #D5D5D5;
    --: #DBDBDB;
    --: #666666;
    --: #444444;
    --: #283136; */
  }

  /* Global */

body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--text-color-main); 
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2 {
  display: none;
}

 /* Main navigation */

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-color-main);
  text-transform: uppercase;
  background-color: var(--background-color-header);
}

.site-navigation {
  list-style: none;
}

.main-navigation a,
.user-navigation a {
  color: var(--text-color-main);
}

.site-navigation a:hover,
.user-navigation a:hover {
  color: var(--text-color-hover);
}

.site-navigation a:active,
.user-navigation a:active {
  color: var(--text-color-main);
  opacity: 0.3;
}

/* Slider */

.slider {
  background-color: var(--background-color-header);
}

.slider-header {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--text-color-main);
}

.button {
  background-color: var(--background-button-quiet);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--background-button-hover);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button:active {
  background-color: var(--background-button-active);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button:active span {
  opacity: 0.3;
}

.slider-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-addition);
}



/* Services */

.services {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-addition);
}
 .services-header {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--text-color-main);
  text-transform: uppercase;
 }

 .services-list {
  list-style: none;
 }

.services-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-addition);
}

.button-apps {
  background-color: var(--background-appbutton-quiet);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button-apps:hover {
  background-color: var(--background-appbutton-hover);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button-apps:active {
  background-color: var(--background-appbutton-active);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button-presentation {
  background-color: var(--background-presentation-quiet);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button-presentation:hover {
  background-color: var(--background-presentation-hover);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

.button-presentation:active {
  background-color: var(--background-presentation-active);
  color: var(--text-color-buttons);
  text-transform: uppercase;
}

/* Information */

.info-header {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--text-color-main);
}

.info-oders {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--text-color-main);
}

.info-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-addition);
}
 
.info-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-addition);
}

.info-list {
  list-style: none;
}

/* Satistics */

.statistics-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-main);
  text-transform: uppercase;
}

.statistics-term {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color-addition);
}

.statistics-scale {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--text-color-main);
}

/* Clients */

.clients-list {
  list-style: none;
}

.logo {
  opacity: 0.2;
}

.logo-active:active {
  opacity: 0.1;
}

.logo-hover:hover {
  opacity: 1;
}

/* Main Footer */

/* Contacts */

.contacts-heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts-address {
  line-height: 18px;
  color: var(--text-color-address);
}

.footer-phone {
  line-height: 18px;
  color: var(--text-color-address);
}

/* Social */

.social-list {
  list-style: none;
}

.social-button {
  background-color: var(--background-icon-color);
}